/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  color: #FFD700; /* Amarillo dorado para el texto */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con transparencia */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra en el texto */
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px; /*margen*/
  display: inline-block;
  background-color: #f5900b; /* Marrón oscuro para el fondo de los enlaces */
  color: #FFF; /* Color blanco para el texto de los enlaces */
  border-radius: 4px;
  margin-left: 1cm; /* Agrega un margen izquierdo de 1 centímetro */
  margin-top: 1cm; /* Agrega un margen superior de 1 centímetro */
  text-align: left; /* Alinea el texto a la izquierda */
}


nav a:hover {
  color: #FFF; /* Color blanco para el texto cuando se pasa el mouse por encima */
  background-color: #FFA500; /* Naranja para el fondo cuando se pasa el mouse por encima */
}

nav a:active {
  background-color: #FF8C00; /* Naranja oscuro para el fondo cuando el enlace está activo */
}
