<h2>Frutas más conocidas 😉</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
<!--<h2>My Heroes</h2>-->
<!--<ul class="heroes">-->
<!--bucle para iterar sobre el arreglo de heroes-->
<!--<li *ngFor="let hero of heroes">-->
    <!-- boton para seleccionar un heroe -->
    <!--<button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span><!--indicador de identificación del heroe -->
    <!--  <span class="name">{{hero.name}}</span> <!--Nombre del heroe-->
    <!--</button>
  </li>
</ul>
<!--Modificacion aqui-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<!--Edicion de elementos-->
<!-- Detalles del heroe seleccionado -->

<!-- <div *ngIf="selectedHero">
  <h2>Nombre: {{selectedHero.name | uppercase}} </h2>
   Identificacion del heroe -->
  <!-- <div>id: {{selectedHero.id}}</div>
  <div>
     Para editar el nombre del heroe -->
    <!-- <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->


